# Секреты
.env

# Зависимости фронтенда (их нельзя пушить, они весят сотни мегабайт!)
node_modules/
frontend/node_modules/
dist/
frontend/dist/

# Кэш Python и виртуальное окружение
__pycache__/
*.pyc
.venv/
venv/
backend/__pycache__/
backend/app/__pycache__/

# Локальные логи и системные файлы
.DS_Store
Thumbs.db
.vscode/